* {
    background-image: url(https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?cs=srgb&dl=pexels-elia-clerici-912110.jpg&fm=jpg );
    background-attachment: fixed;
    background-size: 300%;
    background-position: bottom;
}

img {
    border: 10% double rgb(10, 4, 105);
    border-radius: 5%;
    padding: 1%;
}

#img1 {
    width: 60%;
    padding: 1%;
    margin-right: 2%;
    float: left;
    margin-left: 1%;
}

#img2 {
    padding: 1%;
    width: 75%;
}

#img3 {
    padding: 1%;
    width: 60%;
    margin-left: 5%;
}

#img4 {
    width: 50%;
    padding: 1%;
    margin-right: 4%;
    margin-bottom: 4%;
    float: left;
    margin-top: 4%;
}

#img5 {
    padding: 1%;
    width: 80%;
    margin-right: 30%;
}

#img6 {
    padding: 1%;
    margin-top: 5%;
    width: 80%;
}

#perg1 {
    font-size: 90%;
    width: 30%;
    float: left;
    color: rgb(26, 13, 87);
    margin-right: 70%;
    margin-top: 20%;
}

#tex1 {
    margin-left: 64%;
}

#perg2 {
    color: rgb(44, 107, 24);
    height: 40%;
    width: 30%;
    position: absolute;
    margin-left: 35%;
    margin-right: 34%;
    font-size: 100%;
}

#perg3 {
    color: rgb(110, 29, 15);
    margin-top: 20%;
    position: absolute;
    margin-left: 70%;
    font-size: 100%;
}

#midt {
    font-size: 100%;
    color: rgb(94, 23, 94);
    margin-bottom: 3%;
    margin-top: 5%;
    border-color: lightcoral;
    width: 60%;
    float: left;
}

#tex2 {
    margin-left: 55%;
}

#sidebar {
    border-image-repeat: repeat;
    font-size: 90%;
    margin-left: 70%;
    width: 30%;
    color: maroon;
    font-size: 70%;
}

.perg6 {
    width: 35%;
    font-size: 100%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 70%;
    color: rgb(88, 17, 88);
}

@media all and (min-width: 1001px) {
    #tex1 {
        font-size: 100%;
        font-style: italic;
    }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
    #tex1 {
        font-size: 80%;
        font-style: italic;
    }
}

@media all and (max-width: 699px) {
    #tex1 {
        font-size: 70%;
        font-style: italic;
    }
}

@media all and (min-width: 1001px) {
    #tex2 {
        font-size: 100%;
        font-style: italic;
    }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
    #tex2 {
        font-size: 80%;
        font-style: italic;
    }
}

@media all and (max-width: 699px) {
    #tex2 {
        font-size: 70%;
        font-style: italic;
    }
}

@media all and (min-width: 1001px) {
    #tex3 {
        font-size: 100%;
        font-style: italic;
    }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
    #tex3 {
        font-size: 80%;
        font-style: italic;
    }
}

@media all and (max-width: 699px) {
    #tex3 {
        font-size: 70%;
        font-style: italic;
    }
}